@charset "utf-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -1.4px;
  font-family: "Pretendard-Regular";
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

button {
  all: unset;
  cursor: pointer;
}

.row {
  width: 1450px;
  margin: 0 auto;
}

:root {
  --default-font-family: "Pretendard-Regular";
}
