<div class="sc-emwzcK cMeBDj">
    <nav id="header__nav">
        <h1 class="logo"><a href="/"><img src="./assets/image/logo_blue.png" alt=""></a></h1>
        <ul class="mainDepth1">
            <li><a class="" href="/about">소개</a></li>
            <li><a class="" href="/product">서비스주문</a></li>
            <li class="depthNews1"><a>소식</a>
                <ul class="depthNews2">
                    <li><a>소식</a></li>
                    <li><a>기업소식</a></li>
                </ul>
            </li>
            <li class="depthService1"><a href="#">고객센터</a>
                <ul class="depthService2">
                    <li><a>공지사항</a></li>
                    <li><a>자주묻는질문</a></li>
                    <li><a>취소·환불규정</a></li>
                </ul>
            </li>
            <li><a class="active" href="/ask" aria-current="page">문의하기</a></li>
        </ul>
        <div class="info">
            <div class="infotext"><a href="#"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                        viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <g id="Unlock">
                            <g>
                                <path
                                    d="M17.44,9.33h-1.1c0-.97.01-1.95,0-2.92A4.343,4.343,0,0,0,8.36,4.04c-.36.53.51,1.03.87.5a3.365,3.365,0,0,1,5.23-.39c1.04,1.11.88,2.57.88,3.96V9.33H6.56a2.5,2.5,0,0,0-2.5,2.5v7.61a2.507,2.507,0,0,0,2.5,2.5H17.44a2.507,2.507,0,0,0,2.5-2.5V11.83A2.5,2.5,0,0,0,17.44,9.33Zm1.5,10.11a1.511,1.511,0,0,1-1.5,1.5H6.56a1.511,1.511,0,0,1-1.5-1.5V11.83a1.5,1.5,0,0,1,1.5-1.5H17.44a1.5,1.5,0,0,1,1.5,1.5Z">
                                </path>
                                <path
                                    d="M13,14.95a.984.984,0,0,1-.5.86v1.5a.5.5,0,0,1-1,0v-1.5a.984.984,0,0,1-.5-.86,1,1,0,0,1,2,0Z">
                                </path>
                            </g>
                        </g>
                    </svg></a><a href="/usermodify">수정</a></div>
            <div class="menu-wrap"><span class="line"></span><span class="line"></span><span class="line"></span></div>
        </div>
    </nav>
    <div class="sc-beySPh eRwBuh">
        <div class="nav__menu">
            <ul class="depth1">
                <li><a class="" href="/about"><span class="strong">01</span> 소개<svg stroke="currentColor"
                            fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="arrow" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M295.6 163.7c-5.1 5-5.1 13.3-.1 18.4l60.8 60.9H124.9c-7.1 0-12.9 5.8-12.9 13s5.8 13 12.9 13h231.3l-60.8 60.9c-5 5.1-4.9 13.3.1 18.4 5.1 5 13.2 5 18.3-.1l82.4-83c1.1-1.2 2-2.5 2.7-4.1.7-1.6 1-3.3 1-5 0-3.4-1.3-6.6-3.7-9.1l-82.4-83c-4.9-5.2-13.1-5.3-18.2-.3z">
                            </path>
                        </svg></a></li>
                <li><a class="" href="/product"><span class="strong">02</span> 서비스주문 <svg stroke="currentColor"
                            fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="arrow" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M295.6 163.7c-5.1 5-5.1 13.3-.1 18.4l60.8 60.9H124.9c-7.1 0-12.9 5.8-12.9 13s5.8 13 12.9 13h231.3l-60.8 60.9c-5 5.1-4.9 13.3.1 18.4 5.1 5 13.2 5 18.3-.1l82.4-83c1.1-1.2 2-2.5 2.7-4.1.7-1.6 1-3.3 1-5 0-3.4-1.3-6.6-3.7-9.1l-82.4-83c-4.9-5.2-13.1-5.3-18.2-.3z">
                            </path>
                        </svg></a></li>
                <li><a><span class="strong">03</span> 소식 <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                            viewBox="0 0 512 512" class="arrow" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M348.3 295.6c-5-5.1-13.3-5.1-18.4-.1L269 356.2V124.9c0-7.1-5.8-12.9-13-12.9s-13 5.8-13 12.9v231.3l-60.9-60.8c-5.1-5-13.3-4.9-18.4.1-5 5.1-5 13.2.1 18.3l83 82.4c1.2 1.1 2.5 2 4.1 2.7 1.6.7 3.3 1 5 1 3.4 0 6.6-1.3 9.1-3.7l83-82.4c5.2-4.9 5.3-13.1.3-18.2z">
                            </path>
                        </svg></a>
                    <ul class="hidden1">
                        <li> <a href="/">소식</a></li>
                        <li> <a href="/">기업소식</a></li>
                    </ul>
                </li>
                <li><a><span class="strong">04</span> 고객센터 <svg stroke="currentColor" fill="currentColor"
                            stroke-width="0" viewBox="0 0 512 512" class="arrow" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M348.3 295.6c-5-5.1-13.3-5.1-18.4-.1L269 356.2V124.9c0-7.1-5.8-12.9-13-12.9s-13 5.8-13 12.9v231.3l-60.9-60.8c-5.1-5-13.3-4.9-18.4.1-5 5.1-5 13.2.1 18.3l83 82.4c1.2 1.1 2.5 2 4.1 2.7 1.6.7 3.3 1 5 1 3.4 0 6.6-1.3 9.1-3.7l83-82.4c5.2-4.9 5.3-13.1.3-18.2z">
                            </path>
                        </svg></a>
                    <ul class="hidden2">
                        <li> <a href="/test">공지사항</a></li>
                        <li> <a href="/">자주묻는질문</a></li>
                        <li> <a href="/">취소/환불규정</a></li>
                    </ul>
                </li>
                <li><a class="active" href="/ask" aria-current="page"><span class="strong">05</span> 문의하기<svg
                            stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                            class="arrow" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M295.6 163.7c-5.1 5-5.1 13.3-.1 18.4l60.8 60.9H124.9c-7.1 0-12.9 5.8-12.9 13s5.8 13 12.9 13h231.3l-60.8 60.9c-5 5.1-4.9 13.3.1 18.4 5.1 5 13.2 5 18.3-.1l82.4-83c1.1-1.2 2-2.5 2.7-4.1.7-1.6 1-3.3 1-5 0-3.4-1.3-6.6-3.7-9.1l-82.4-83c-4.9-5.2-13.1-5.3-18.2-.3z">
                            </path>
                        </svg></a></li>
            </ul>
        </div>
        <div class="box"></div>
    </div>
</div>